<a href="https://colab.research.google.com/github/manpoffc/ML-projects/blob/master/NB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [481]:
import pandas as pd
import re
import nltk
nltk.download('stopwords')
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [482]:
df = pd.read_json('/content/News_Category_Dataset_v2.json', lines=True)
df.drop(['link','date'],axis=1,inplace = True)
df.describe()

        category        headline authors short_description
count     200853          200853  200853            200853
unique        41          199344   27993            178353
top     POLITICS  Sunday Roundup
freq       32739              90   36620             19712

In [483]:
df.isnull().sum()

category             0
headline             0
authors              0
short_description    0
dtype: int64

In [484]:
df.isna().sum()

category             0
headline             0
authors              0
short_description    0
dtype: int64

In [485]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200853 entries, 0 to 200852
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   category           200853 non-null  object
 1   headline           200853 non-null  object
 2   authors            200853 non-null  object
 3   short_description  200853 non-null  object
dtypes: object(4)
memory usage: 6.1+ MB

In [486]:
df.head()

,category,headline,authors,short_description
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,She left her husband. He killed their children...
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,Of course it has a song.
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,The actor and his longtime girlfriend Anna Ebe...
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,The actor gives Dems an ass-kicking for not fi...
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,"The ""Dietland"" actress said using the bags is ..."

In [487]:
type(df['headline'])

pandas.core.series.Series

In [488]:
df['short_description'][100]

'The billionaire Koch brothers’ political network wants to show it will punish Republicans who don’t support its agenda.'

In [489]:
df['category'][100]

'POLITICS'

In [490]:
df1=df.copy()
df1 = df[df['headline'].notna()]

In [491]:
df1.drop(['authors'],axis=1,inplace = True)

In [492]:
description = df1.iloc[:,1].values
description

array(['There Were 2 Mass Shootings In Texas Last Week, But Only 1 On TV',
       "Will Smith Joins Diplo And Nicky Jam For The 2018 World Cup's Official Song",
       'Hugh Grant Marries For The First Time At Age 57', ...,
       'Giants Over Patriots, Jets Over Colts Among  Most Improbable Super Bowl Upsets Of All Time (VIDEOS)',
       'Aldon Smith Arrested: 49ers Linebacker Busted For DUI',
       'Dwight Howard Rips Teammates After Magic Loss To Hornets'],
      dtype=object)

In [493]:
category = df1.iloc[:,0].values
category

array(['CRIME', 'ENTERTAINMENT', 'ENTERTAINMENT', ..., 'SPORTS', 'SPORTS',
       'SPORTS'], dtype=object)

In [494]:
desc=[]
for value in range(len(description)):


  new_desc = re.sub(r'[^\w\s]', ' ', str(description[value]))
  new_desc = re.sub('[^a-zA-Z]',' ',str(description[value]))
  new_desc= re.sub(r'\s+[a-zA-Z]\s+', ' ', new_desc)
  new_desc=re.sub('[^A-Za-z0-9]+', ' ', new_desc)
  new_desc = re.sub(r'\s+', ' ', new_desc, flags=re.I)
  new_desc = re.sub(r'\d+', ' ', new_desc)
  new_desc= new_desc.lower()
  desc.append(new_desc)

In [495]:
df1['headline']= desc

In [496]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200853 entries, 0 to 200852
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   category           200853 non-null  object
 1   headline           200853 non-null  object
 2   short_description  200853 non-null  object
dtypes: object(3)
memory usage: 6.1+ MB

In [497]:
df1['headline'][100]

'the koch network is going after one of trump favorite congressmen'

In [498]:
cats=[]
for value in range(len(category)):


  new_cat = re.sub(r'[^\w\s]', ' ', str(category[value]))
  new_cat = re.sub('[^a-zA-Z]',' ',str(category[value]))
  new_cat= re.sub(r'\s+[a-zA-Z]\s+', ' ', new_cat)
  new_cat=re.sub('[^A-Za-z0-9]+', ' ', new_cat)
  new_cat = re.sub(r'\s+', ' ', new_cat, flags=re.I)
  new_cat = re.sub(r'\d+', ' ', new_cat)
  new_cat= new_cat.lower()
  cats.append(new_cat)

In [499]:
df1['category']= cats
df1

,category,headline,short_description
0,crime,there were mass shootings in texas last week b...,She left her husband. He killed their children...
1,entertainment,will smith joins diplo and nicky jam for the w...,Of course it has a song.
2,entertainment,hugh grant marries for the first time at age,The actor and his longtime girlfriend Anna Ebe...
3,entertainment,jim carrey blasts castrato adam schiff and dem...,The actor gives Dems an ass-kicking for not fi...
4,entertainment,julianna margulies uses donald trump poop bags...,"The ""Dietland"" actress said using the bags is ..."
...,...,...,...
200848,tech,rim ceo thorsten heins significant plans for b...,Verizon Wireless and AT&T are already promotin...
200849,sports,maria sharapova stunned by victoria azarenka i...,"Afterward, Azarenka, more effusive with the pr..."
200850,sports,giants over patriots jets over colts among mos...,"Leading up to Super Bowl XLVI, the most talked..."
200851,sports,aldon smith arrested ers linebacker busted for...,CORRECTION: An earlier version of this story i...
200852,sports,dwight howard rips teammates after magic loss ...,The five-time all-star center tore into his te...

In [500]:
common_words= nltk.corpus.stopwords.words('english')
new_short=[]
desc= pd.DataFrame(desc)
desc=desc.apply(lambda x:([word for word in x if word not in (common_words)]))
desc

                                                        0
0       there were mass shootings in texas last week b...
1       will smith joins diplo and nicky jam for the w...
2           hugh grant marries for the first time at age
3       jim carrey blasts castrato adam schiff and dem...
4       julianna margulies uses donald trump poop bags...
...                                                   ...
200846  rim ceo thorsten heins significant plans for b...
200847  maria sharapova stunned by victoria azarenka i...
200848  giants over patriots jets over colts among mos...
200849  aldon smith arrested ers linebacker busted for...
200850  dwight howard rips teammates after magic loss ...

[200851 rows x 1 columns]

In [501]:
desc.info()
df1['headline']=desc

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200851 entries, 0 to 200850
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       200851 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

In [502]:
df1=df1.dropna()

In [503]:
df1['headline'].dropna()

0         there were mass shootings in texas last week b...
1         will smith joins diplo and nicky jam for the w...
2             hugh grant marries for the first time at age
3         jim carrey blasts castrato adam schiff and dem...
4         julianna margulies uses donald trump poop bags...
                                ...
200846    rim ceo thorsten heins significant plans for b...
200847    maria sharapova stunned by victoria azarenka i...
200848    giants over patriots jets over colts among mos...
200849    aldon smith arrested ers linebacker busted for...
200850    dwight howard rips teammates after magic loss ...
Name: headline, Length: 200851, dtype: object

In [504]:
length= len(df1)
train = df1[:int(0.8*length)]
development = df1[int(0.8*length):int(0.9*length)]
test_data = df1[int(0.9*length):]

In [505]:
df1.isna()

        category  headline  short_description
0          False     False              False
1          False     False              False
2          False     False              False
3          False     False              False
4          False     False              False
...          ...       ...                ...
200846     False     False              False
200847     False     False              False
200848     False     False              False
200849     False     False              False
200850     False     False              False

[200851 rows x 3 columns]

In [506]:
import re
from collections import Counter

def split_sentence(sentence):
    return list(filter(lambda x: len(x) > 0, re.split('\W+', sentence.lower())))

def generate_vocabulary(train_captions, min_threshold):

    #convert the list of whole captions to one string
    concat_str = ' '.join([str(elem).strip('\n') for elem in train_captions]) 
    #divide the string tokens (individual words), by calling the split_sentence function 
    individual_words = split_sentence(concat_str)
    #create a list of words that happen min_threshold times or more in that string  
    condition_keys = sorted([key for key, value in Counter(individual_words).items() if value >= min_threshold])
    #generate the vocabulary(dictionary)
    result = dict(zip(condition_keys, range(len(condition_keys))))
    return result



final=generate_vocabulary(train['headline'], min_threshold=10)
len(final)

11679

In [507]:
final

{'a': 0,
 'aaron': 1,
 'abandon': 2,
 'abandoned': 3,
 'abandoning': 4,
 'abandons': 5,
 'abbey': 6,
 'abbott': 7,
 'abby': 8,
 'abc': 9,
 'abdul': 10,
 'abe': 11,
 'abedin': 12,
 'abercrombie': 13,
 'ability': 14,
 'able': 15,
 'aboard': 16,
 'abolish': 17,
 'abortion': 18,
 'abortions': 19,
 'about': 20,
 'above': 21,
 'abraham': 22,
 'abrams': 23,
 'abramson': 24,
 'abroad': 25,
 'abruptly': 26,
 'abs': 27,
 'absence': 28,
 'absent': 29,
 'absolute': 30,
 'absolutely': 31,
 'absurd': 32,
 'absurdity': 33,
 'abu': 34,
 'abuse': 35,
 'abused': 36,
 'abuser': 37,
 'abusers': 38,
 'abuses': 39,
 'abusing': 40,
 'abusive': 41,
 'aca': 42,
 'academic': 43,
 'academy': 44,
 'accent': 45,
 'accept': 46,
 'acceptable': 47,
 'acceptance': 48,
 'accepted': 49,
 'accepting': 50,
 'accepts': 51,
 'access': 52,
 'accessible': 53,
 'accessories': 54,
 'accessory': 55,
 'accident': 56,
 'accidental': 57,
 'accidentally': 58,
 'accidents': 59,
 'acclaimed': 60,
 'accomplished': 61,
 'accord': 62,
 'according': 63,
 'accordingly': 64,
 'account': 65,
 'accountability': 66,
 'accountable': 67,
 'accounts': 68,
 'accurate': 69,
 'accusation': 70,
 'accusations': 71,
 'accuse': 72,
 'accused': 73,
 'accuser': 74,
 'accusers': 75,
 'accuses': 76,
 'accusing': 77,
 'ace': 78,
 'achieve': 79,
 'achievement': 80,
 'achieving': 81,
 'acid': 82,
 'acknowledge': 83,
 'aclu': 84,
 'acm': 85,
 'acquired': 86,
 'acquitted': 87,
 'across': 88,
 'act': 89,
 'acting': 90,
 'action': 91,
 'actions': 92,
 'active': 93,
 'activism': 94,
 'activist': 95,
 'activists': 96,
 'activities': 97,
 'activity': 98,
 'actor': 99,
 'actors': 100,
 'actress': 101,
 'actresses': 102,
 'acts': 103,
 'actual': 104,
 'actually': 105,
 'ad': 106,
 'adam': 107,
 'adams': 108,
 'adaptation': 109,
 'add': 110,
 'added': 111,
 'addict': 112,
 'addicted': 113,
 'addiction': 114,
 'addictive': 115,
 'addicts': 116,
 'adding': 117,
 'additional': 118,
 'address': 119,
 'addresses': 120,
 'addressing': 121,
 'adds': 122,
 'adele': 123,
 'adelson': 124,
 'aden': 125,
 'adhd': 126,
 'adichie': 127,
 'adler': 128,
 'administration': 129,
 'admission': 130,
 'admissions': 131,
 'admit': 132,
 'admits': 133,
 'admitted': 134,
 'admitting': 135,
 'adopt': 136,
 'adopted': 137,
 'adopting': 138,
 'adoption': 139,
 'adoptive': 140,
 'adopts': 141,
 'adorable': 142,
 'adorably': 143,
 'adore': 144,
 'adrian': 145,
 'ads': 146,
 'adult': 147,
 'adulthood': 148,
 'adults': 149,
 'advance': 150,
 'advanced': 151,
 'advances': 152,
 'advantage': 153,
 'adventure': 154,
 'adventures': 155,
 'adversity': 156,
 'advertisers': 157,
 'advertising': 158,
 'advice': 159,
 'adviser': 160,
 'advisers': 161,
 'advising': 162,
 'advisor': 163,
 'advisory': 164,
 'advocacy': 165,
 'advocate': 166,
 'advocates': 167,
 'aerial': 168,
 'aetna': 169,
 'af': 170,
 'affair': 171,
 'affairs': 172,
 'affect': 173,
 'affected': 174,
 'affecting': 175,
 'affects': 176,
 'affirmative': 177,
 'affleck': 178,
 'affluenza': 179,
 'afford': 180,
 'affordable': 181,
 'afghan': 182,
 'afghanistan': 183,
 'afraid': 184,
 'africa': 185,
 'african': 186,
 'africans': 187,
 'afro': 188,
 'after': 189,
 'aftermath': 190,
 'afternoon': 191,
 'ag': 192,
 'again': 193,
 'against': 194,
 'age': 195,
 'aged': 196,
 'agencies': 197,
 'agency': 198,
 'agenda': 199,
 'agent': 200,
 'agents': 201,
 'ages': 202,
 'aggressive': 203,
 'aging': 204,
 'ago': 205,
 'agree': 206,
 'agreed': 207,
 'agreement': 208,
 'agreements': 209,
 'agrees': 210,
 'agriculture': 211,
 'aguilera': 212,
 'ahca': 213,
 'ahead': 214,
 'ahmed': 215,
 'ahs': 216,
 'ai': 217,
 'aid': 218,
 'aide': 219,
 'aides': 220,
 'aids': 221,
 'ailes': 222,
 'aim': 223,
 'aimed': 224,
 'aims': 225,
 'ain': 226,
 'air': 227,
 'airasia': 228,
 'airbnb': 229,
 'aircraft': 230,
 'airfare': 231,
 'airline': 232,
 'airlines': 233,
 'airplane': 234,
 'airport': 235,
 'airports': 236,
 'airs': 237,
 'airstrike': 238,
 'airstrikes': 239,
 'airways': 240,
 'aisle': 241,
 'aka': 242,
 'al': 243,
 'alabama': 244,
 'aladdin': 245,
 'alan': 246,
 'alanis': 247,
 'alarm': 248,
 'alarmed': 249,
 'alarming': 250,
 'alaska': 251,
 'alba': 252,
 'albright': 253,
 'album': 254,
 'albums': 255,
 'albuquerque': 256,
 'alcohol': 257,
 'alcoholic': 258,
 'alec': 259,
 'alejandro': 260,
 'aleppo': 261,
 'alert': 262,
 'alex': 263,
 'alexander': 264,
 'alexis': 265,
 'alfred': 266,
 'ali': 267,
 'alice': 268,
 'alicia': 269,
 'alien': 270,
 'aliens': 271,
 'alike': 272,
 'alimony': 273,
 'alison': 274,
 'alive': 275,
 'all': 276,
 'allegation': 277,
 'allegations': 278,
 'alleged': 279,
 'allegedly': 280,
 'alleges': 281,
 'allegiance': 282,
 'allen': 283,
 'allergies': 284,
 'allergy': 285,
 'alley': 286,
 'alliance': 287,
 'allies': 288,
 'alligator': 289,
 'allison': 290,
 'allow': 291,
 'allowed': 292,
 'allowing': 293,
 'allows': 294,
 'ally': 295,
 'alma': 296,
 'almond': 297,
 'almost': 298,
 'alone': 299,
 'along': 300,
 'alongside': 301,
 'alphabet': 302,
 'already': 303,
 'als': 304,
 'also': 305,
 'alt': 306,
 'alter': 307,
 'altered': 308,
 'alternate': 309,
 'alternative': 310,
 'alternatives': 311,
 'alton': 312,
 'alum': 313,
 'alumni': 314,
 'always': 315,
 'aly': 316,
 'alyssa': 317,
 'alzheimer': 318,
 'am': 319,
 'amal': 320,
 'amanda': 321,
 'amandla': 322,
 'amas': 323,
 'amateur': 324,
 'amazing': 325,
 'amazon': 326,
 'ambassador': 327,
 'amber': 328,
 'ambition': 329,
 'ambitions': 330,
 'ambitious': 331,
 'ambulance': 332,
 'ambush': 333,
 'amelia': 334,
 'amendment': 335,
 'amenities': 336,
 'america': 337,
 'american': 338,
 'americana': 339,
 'americans': 340,
 'americas': 341,
 'amid': 342,
 'amidst': 343,
 'ammo': 344,
 'amnesty': 345,
 'among': 346,
 'amount': 347,
 'amputee': 348,
 'amsterdam': 349,
 'amtrak': 350,
 'amy': 351,
 'an': 352,
 'ana': 353,
 'analysis': 354,
 'analyst': 355,
 'analytica': 356,
 'anarchy': 357,
 'anatomy': 358,
 'anchor': 359,
 'anchorman': 360,
 'anchors': 361,
 'ancient': 362,
 'and': 363,
 'anderson': 364,
 'andre': 365,
 'andrea': 366,
 'andrew': 367,
 'andrews': 368,
 'android': 369,
 'andy': 370,
 'angel': 371,
 'angela': 372,
 'angeles': 373,
 'angelina': 374,
 'angelo': 375,
 'angelou': 376,
 'angels': 377,
 'anger': 378,
 'angry': 379,
 'animal': 380,
 'animals': 381,
 'animated': 382,
 'animation': 383,
 'aniston': 384,
 'anita': 385,
 'ann': 386,
 'anna': 387,
 'anne': 388,
 'annie': 389,
 'anniversary': 390,
 'announce': 391,
 'announced': 392,
 'announcement': 393,
 'announces': 394,
 'announcing': 395,
 'annoying': 396,
 'annual': 397,
 'anonymous': 398,
 'anorexia': 399,
 'another': 400,
 'ansari': 401,
 'ansel': 402,
 'answer': 403,
 'answered': 404,
 'answering': 405,
 'answers': 406,
 'ant': 407,
 'antarctic': 408,
 'antarctica': 409,
 'anthem': 410,
 'anthony': 411,
 'anti': 412,
 'antibiotic': 413,
 'antibiotics': 414,
 'antidote': 415,
 'antonin': 416,
 'antonio': 417,
 'anxiety': 418,
 'anxious': 419,
 'any': 420,
 'anybody': 421,
 'anymore': 422,
 'anyone': 423,
 'anything': 424,
 'anytime': 425,
 'anyway': 426,
 'anywhere': 427,
 'aol': 428,
 'ap': 429,
 'apart': 430,
 'apartheid': 431,
 'apartment': 432,
 'apathy': 433,
 'apatow': 434,
 'apes': 435,
 'apnea': 436,
 'apocalypse': 437,
 'apocalyptic': 438,
 'apollo': 439,
 'apologies': 440,
 'apologize': 441,
 'apologizes': 442,
 'apologizing': 443,
 'apology': 444,
 'app': 445,
 'appalling': 446,
 'apparel': 447,
 'apparent': 448,
 'apparently': 449,
 'appeal': 450,
 'appeals': 451,
 'appear': 452,
 'appearance': 453,
 'appearances': 454,
 'appeared': 455,
 'appears': 456,
 'appetite': 457,
 'applaud': 458,
 'applauds': 459,
 'apple': 460,
 'apples': 461,
 'applicants': 462,
 'application': 463,
 'applications': 464,
 'applies': 465,
 'apply': 466,
 'applying': 467,
 'appointed': 468,
 'appointment': 469,
 'appoints': 470,
 'appraises': 471,
 'appreciate': 472,
 'appreciation': 473,
 'apprentice': 474,
 'approach': 475,
 'approaches': 476,
 'appropriate': 477,
 'approval': 478,
 'approve': 479,
 'approved': 480,
 'approves': 481,
 'apps': 482,
 'april': 483,
 'ar': 484,
 'arab': 485,
 'arabia': 486,
 'arabs': 487,
 'arc': 488,
 'arcade': 489,
 'archbishop': 490,
 'archie': 491,
 'architect': 492,
 'architects': 493,
 'architecture': 494,
 'arctic': 495,
 'are': 496,
 'area': 497,
 'areas': 498,
 'aren': 499,
 'arena': 500,
 'arete': 501,
 'aretha': 502,
 'argentina': 503,
 'argentine': 504,
 'argue': 505,
 'argues': 506,
 'argument': 507,
 'arguments': 508,
 'ariana': 509,
 'arianna': 510,
 'arias': 511,
 'ariel': 512,
 'arizona': 513,
 'arkansas': 514,
 'arm': 515,
 'armed': 516,
 'armenia': 517,
 'armenian': 518,
 'arming': 519,
 'arms': 520,
 'armstrong': 521,
 'army': 522,
 'arnold': 523,
 'around': 524,
 'arpaio': 525,
 'arquette': 526,
 'arrest': 527,
 'arrested': 528,
 'arresting': 529,
 'arrests': 530,
 'arrival': 531,
 'arrive': 532,
 'arrived': 533,
 'arrives': 534,
 'arriving': 535,
 'arrogant': 536,
 'arrow': 537,
 'arsenal': 538,
 'arson': 539,
 'art': 540,
 'arthritis': 541,
 'arthur': 542,
 'article': 543,
 'articles': 544,
 'artifacts': 545,
 'artificial': 546,
 'artist': 547,
 'artistic': 548,
 'artists': 549,
 'arts': 550,
 'artwork': 551,
 'artworks': 552,
 'arya': 553,
 'as': 554,
 'asap': 555,
 'ash': 556,
 'ashamed': 557,
 'ashes': 558,
 'ashley': 559,
 'ashton': 560,
 'asia': 561,
 'asian': 562,
 'asians': 563,
 'aside': 564,
 'ask': 565,
 'asked': 566,
 'asking': 567,
 'asks': 568,
 'asleep': 569,
 'asos': 570,
 'aspen': 571,
 'aspiring': 572,
 'ass': 573,
 'assad': 574,
 'assange': 575,
 'assassination': 576,
 'assault': 577,
 'assaulted': 578,
 'assaulting': 579,
 'assaults': 580,
 'assembly': 581,
 'assessment': 582,
 'asset': 583,
 'assets': 584,
 'assistant': 585,
 'assisted': 586,
 'associate': 587,
 'associated': 588,
 'association': 589,
 'assume': 590,
 'asteroid': 591,
 'asthma': 592,
 'astounding': 593,
 'astronaut': 594,
 'astronauts': 595,
 'astronomers': 596,
 'astros': 597,
 'asylum': 598,
 'at': 599,
 'ate': 600,
 'atheist': 601,
 'atheists': 602,
 'athens': 603,
 'athlete': 604,
 'athletes': 605,
 'athletic': 606,
 'atlanta': 607,
 'atlantic': 608,
 'atop': 609,
 'atrocities': 610,
 'attached': 611,
 'attack': 612,
 'attacked': 613,
 'attacker': 614,
 'attackers': 615,
 'attacking': 616,
 'attacks': 617,
 'attempt': 618,
 'attempted': 619,
 'attempting': 620,
 'attempts': 621,
 'attend': 622,
 'attendant': 623,
 'attendants': 624,
 'attended': 625,
 'attendees': 626,
 'attending': 627,
 'attends': 628,
 'attention': 629,
 'attitude': 630,
 'attitudes': 631,
 'attorney': 632,
 'attorneys': 633,
 'attract': 634,
 'attraction': 635,
 'attractions': 636,
 'attractive': 637,
 'atwood': 638,
 'aubrey': 639,
 'auction': 640,
 'audience': 641,
 'audiences': 642,
 'audio': 643,
 'audition': 644,
 'auditions': 645,
 'august': 646,
 'aung': 647,
 'aunt': 648,
 'auschwitz': 649,
 'aussie': 650,
 'austerity': 651,
 'austin': 652,
 'australia': 653,
 'australian': 654,
 'australians': 655,
 'austria': 656,
 'austrian': 657,
 'authentic': 658,
 'authenticity': 659,
 'author': 660,
 'authoritarian': 661,
 'authorities': 662,
 'authority': 663,
 'authorization': 664,
 'authors': 665,
 'autism': 666,
 'autistic': 667,
 'auto': 668,
 'automatic': 669,
 'autopsy': 670,
 'autumn': 671,
 'ava': 672,
 'available': 673,
 'avalanche': 674,
 'avengers': 675,
 'average': 676,
 'avery': 677,
 'aviv': 678,
 'avocado': 679,
 'avocados': 680,
 'avoid': 681,
 'avoided': 682,
 'avoiding': 683,
 'avoids': 684,
 'await': 685,
 'awaiting': 686,
 'awaits': 687,
 'awake': 688,
 'awakening': 689,
 'awakens': 690,
 'award': 691,
 'awarded': 692,
 'awards': 693,
 'aware': 694,
 'awareness': 695,
 'away': 696,
 'awe': 697,
 'awesome': 698,
 'awful': 699,
 'awkward': 700,
 'axe': 701,
 'azalea': 702,
 'azerbaijan': 703,
 'aziz': 704,
 'b': 705,
 'babies': 706,
 'baby': 707,
 'babysitter': 708,
 'bachelor': 709,
 'bachelorette': 710,
 'bachmann': 711,
 'back': 712,
 'backed': 713,
 'backers': 714,
 'backfire': 715,
 'backfires': 716,
 'background': 717,
 'backing': 718,
 'backlash': 719,
 'backpack': 720,
 'backs': 721,
 'backstage': 722,
 'backstory': 723,
 'backstreet': 724,
 'backwards': 725,
 'backyard': 726,
 'bacon': 727,
 'bacteria': 728,
 'bad': 729,
 'badass': 730,
 'bader': 731,
 'badge': 732,
 'badly': 733,
 'baffled': 734,
 'bag': 735,
 'baggage': 736,
 'baghdad': 737,
 'bags': 738,
 'bahamas': 739,
 'bahrain': 740,
 'bail': 741,
 'bailey': 742,
 'bailout': 743,
 'bait': 744,
 'bake': 745,
 'baked': 746,
 'baker': 747,
 'bakery': 748,
 'baking': 749,
 'balance': 750,
 'balanced': 751,
 'balancing': 752,
 'bald': 753,
 'baldwin': 754,
 'bale': 755,
 'bali': 756,
 'ball': 757,
 'ballet': 758,
 'ballistic': 759,
 'balloon': 760,
 'balloons': 761,
 'ballot': 762,
 'ballots': 763,
 'balls': 764,
 'baltimore': 765,
 'ban': 766,
 'banana': 767,
 'bananas': 768,
 'band': 769,
 'bands': 770,
 'bang': 771,
 'bangkok': 772,
 'bangladesh': 773,
 'bank': 774,
 'bankers': 775,
 'banking': 776,
 'bankruptcy': 777,
 'banks': 778,
 'banned': 779,
 'banner': 780,
 'banning': 781,
 'bannon': 782,
 'bans': 783,
 'baptist': 784,
 'bar': 785,
 'barack': 786,
 'barbara': 787,
 'barbecue': 788,
 'barber': 789,
 'barbie': 790,
 'barbra': 791,
 'barcelona': 792,
 'bare': 793,
 'barely': 794,
 'bares': 795,
 'bargain': 796,
 'barkley': 797,
 'barney': 798,
 'barneys': 799,
 'baron': 800,
 'barr': 801,
 'barred': 802,
 'barrel': 803,
 'barrels': 804,
 'barrier': 805,
 'barriers': 806,
 'barry': 807,
 'barrymore': 808,
 'bars': 809,
 'bartender': 810,
 'base': 811,
 'baseball': 812,
 'based': 813,
 'basel': 814,
 'bash': 815,
 'bashes': 816,
 'bashing': 817,
 'basic': 818,
 'basically': 819,
 'basics': 820,
 'basket': 821,
 'basketball': 822,
 'bass': 823,
 'bastille': 824,
 'bat': 825,
 'batch': 826,
 'bath': 827,
 'bathing': 828,
 'bathroom': 829,
 'bathrooms': 830,
 'bathtub': 831,
 'batman': 832,
 'baton': 833,
 'bats': 834,
 'battery': 835,
 'battle': 836,
 'battlefield': 837,
 'battleground': 838,
 'battles': 839,
 'battling': 840,
 'bay': 841,
 'bayer': 842,
 'baylor': 843,
 'bazaar': 844,
 'bb': 845,
 'bbc': 846,
 'bbq': 847,
 'be': 848,
 'beach': 849,
 'beaches': 850,
 'bean': 851,
 'beans': 852,
 'bear': 853,
 'beard': 854,
 'beards': 855,
 'bears': 856,
 'beast': 857,
 'beasts': 858,
 'beat': 859,
 'beaten': 860,
 'beater': 861,
 'beating': 862,
 'beatles': 863,
 'beatrice': 864,
 'beats': 865,
 'beau': 866,
 'beautiful': 867,
 'beautifully': 868,
 'beauty': 869,
 'became': 870,
 'because': 871,
 'beck': 872,
 'beckham': 873,
 'becky': 874,
 'become': 875,
 'becomes': 876,
 'becoming': 877,
 'bed': 878,
 'bedroom': 879,
 'bedrooms': 880,
 'beds': 881,
 'bedtime': 882,
 'bee': 883,
 'beef': 884,
 'been': 885,
 'beer': 886,
 'beers': 887,
 'bees': 888,
 'before': 889,
 'beg': 890,
 'began': 891,
 'begin': 892,
 'beginner': 893,
 'beginning': 894,
 'begins': 895,
 'begs': 896,
 'begun': 897,
 'behalf': 898,
 'behavior': 899,
 'behaviors': 900,
 'beheaded': 901,
 'behind': 902,
 'behold': 903,
 'beijing': 904,
 'being': 905,
 'beirut': 906,
 'belafonte': 907,
 'belgian': 908,
 'belgium': 909,
 'belief': 910,
 'beliefs': 911,
 'believe': 912,
 'believed': 913,
 'believers': 914,
 'believes': 915,
 'believing': 916,
 'belize': 917,
 'bell': 918,
 'bella': 919,
 'belle': 920,
 'bells': 921,
 'belly': 922,
 'belong': 923,
 'belongs': 924,
 'beloved': 925,
 'below': 926,
 'belt': 927,
 'belts': 928,
 'ben': 929,
 'bench': 930,
 'bend': 931,
 'bending': 932,
 'beneath': 933,
 'benedict': 934,
 'benefit': 935,
 'benefited': 936,
 'benefits': 937,
 'bengals': 938,
 'benghazi': 939,
 'benjamin': 940,
 'bennett': 941,
 'bergdahl': 942,
 'berkeley': 943,
 'berkus': 944,
 'berlin': 945,
 'bermuda': 946,
 'bern': 947,
 'bernard': 948,
 'bernardino': 949,
 'bernie': 950,
 'bernstein': 951,
 'berry': 952,
 'besides': 953,
 'besieged': 954,
 'best': 955,
 'bet': 956,
 'bethenny': 957,
 'betrayal': 958,
 'betrayed': 959,
 'bets': 960,
 'betsy': 961,
 'bette': 962,
 'better': 963,
 'betting': 964,
 'betty': 965,
 'between': 966,
 'beverly': 967,
 'beware': 968,
 'beyonc': 969,
 'beyonce': 970,
 'beyond': 971,
 'bezos': 972,
 'bff': 973,
 'bffs': 974,
 'bharara': 975,
 'bi': 976,
 'bias': 977,
 'biased': 978,
 'bibi': 979,
 'bible': 980,
 'biblical': 981,
 'bid': 982,
 'biden': 983,
 'bids': 984,
 'bieber': 985,
 'biel': 986,
 'big': 987,
 'bigger': 988,
 'biggest': 989,
 'bigly': 990,
 'bigot': 991,
 'bigoted': 992,
 'bigotry': 993,
 'bigots': 994,
 'bike': 995,
 'biker': 996,
 'bikers': 997,
 'bikes': 998,
 'bikini': 999,
 ...}

In [551]:

def findProb(word,data,smoothen):
  count=0
  n = data.shape[1]-1
  sentence={}
  for value in data['headline']:
    sentence=value.split()
    if word in sentence:
      count+=1
  return (smoothen+count)/(len(data['headline'])+(smoothen*n))

In [552]:
print("Probablity of the(P|the)=",findProb('the',train,0.1))

Probablity of the(P|the)= 0.2709238599404282

In [510]:
def getdoclen(data):
  lendict={}
  cate= list(data['category'].unique())
  categories= data.groupby('category')
  count=0
  for value in cate:
    cates=categories.get_group(value)
    lendict[value]=len(cates)
    
  return lendict

In [511]:
cate= list(train['category'].unique())
category= train.groupby('category')
def categoryWordLength(typeOfCategory):
  length=0
  for value in category.get_group(typeOfCategory)['headline']:
    length= length + len(value.split())
  return length
categoryWords={}
for value in range(len(cate)):
  categoryWords[cate[value]]= categoryWordLength(cate[value])

In [512]:

def conditionalProb(word,typecat,data,smoothen):
  n = data.shape[1]-1
  docLen= getdoclen(data)
  count=0
  category=data.groupby('category')
  for value in category.get_group(typecat)['headline']:
    if word in value.split():
      count+=1
  return (smoothen+count)/(docLen[typecat] +(smoothen*n))

In [513]:

print(conditionalProb('the','wellness',test_data,0.1)*100)

25.547558067649916

In [514]:
import numpy as np
from random import randrange
def cross_validation_split(dataset, folds):
        dataset_split = []
        df_copy = dataset
        fold_size = int(df_copy.shape[0] / folds)
        
        # for loop to save each fold
        for i in range(folds):
            fold = []
            # while loop to add elements to the folds
            while len(fold) < fold_size:
                # select a random element
                r = randrange(df_copy.shape[0])
                # determine the index of this element 
                index = df_copy.index[r]
                # save the randomly selected line 
                fold.append(df_copy.loc[index].values.tolist())
                # delete the randomly selected line from
                # dataframe not to select again
                df_copy = df_copy.drop(index)
            # save the fold     
            dataset_split.append(np.asarray(fold))
            
        return dataset_split

In [515]:
z=cross_validation_split(development,5)

In [516]:
def getList(crossedVal):
  validation=[]
  for i in range(len(z)):
    validation.append(z[i])
  return validation

In [517]:
for value in getList(z):
  print(value)

[['food drink' 'the loaded goal'
  'The problem with a lot of things on Kickstarter is that once you have them funded, you have to produce them and not everyone is prepared to ramp-up in dramatic fashion.']
 ['wellness' 'florence welch in patterns prints and paisley photo '
  'The summer harvest is still at its peak, and in just one visit to the market (with a few helpers to assist you in carrying the goods!), you can prepare several quick, healthful, and mouthwatering dishes to celebrate the Labor Day holiday weekend with family and friends!']
 ['style beauty'
  'how to stop shoulding yourself to death breaking free from the should police'
  'According to Vogue UK, the hats will be created with the Sensatori Resort in Turkey in mind -- visitors to the resort will']
 ...
 ['wellness'
  'sprout home plant of the week the sturdy zz can rough it out'
  'By picking up a camera and using any or all of these simple tools and techniques, you are not only being present and creative, but you are actually practicing mindfulness, which reduces stress and helps leave you balanced and ready to take on the rest of your day.']
 ['parenting' ' postpartum things totally forgot about'
  'This week I asked my 140 seventh grade students, "What are you looking forward to in 2013, and how can the adults in your']
 ['home living'
  'lasagna soup by our best bites is our new rainy day recipe'
  "We bet you haven't thought of these before."]]
[['style beauty' ' ways to transform your stress response'
  "It's like magic!"]
 ['food drink'
  'alexandria sardinia mom builds batmobile for her year old daughter photos '
  'Sit down and enjoy your whiskey the way it was meant to be drunk. On ice.']
 ['comedy' 'a thanksgiving memory that will never fade'
  "Think your Thanksgiving dinner includes all the quintessential Turkey Day cliches? Prove it with Flavorwire's hilarious Thanksgiving"]
 ...
 ['wellness'
  'victory brewing company veterans in field of craft novices preps for expansion'
  'The CDC panel said the vaccine could also be used in babies 2 months through 18 months who live in communities battling an']
 ['wellness' ' tricks for more effective ab workout'
  "The reality is that no one can slay dragons, attend parents' night, and write the great American novel all at once. I gave my best effort toward doing one major thing at a time to the very limit of my ability. Would I do differently if offered a do-over?  Of course not!"]
 ['parenting'
  'ivillage exclusive connecticut mom shares her terror it wasn a shooting just anywhere it was our school '
  'Today was Oscar’s preschool Christmas party. Back in August, I signed up to bring snacks in December because I needed that']]
[['wellness' 'recipe of the day quinoa sweet peppers and fig salad'
  'The findings show even more "empirical support for the beneficial effects of empathy in patient care," study researcher Mohammadreza']
 ['entertainment'
  ' know you are hurting kelly records sandy hook tribute song'
  'With the upcoming release of the all-star-cast film Gangster Squad, I spoke with author Paul Lieberman about the movie and his true-life book that inspired it.']
 ['parenting'
  'mary jane montoya new gerber baby meets ann turner cook the original gerber baby on today video '
  "Even for kids far below the voting age, it's been a long road to Election Day. Now that the time for casting ballots is finally"]
 ...
 ['wellness' 'nanny emma picks the best books for kids part ages '
  "We're all ordinary, and meditation is no big deal. It is more of an undoing than a doing. It enables us to witness how our mind jumps from one drama to another, it dissolves mental clutter, frees us of habitual patterns, helps release stress, and feels wonderfully peaceful."]
 ['travel' 'serenaded by the beauty of croatia'
  "In this episode of The 30 Postcards Project, I was able to spend a truly magical day with one of nature's most impressive creatures, an animal whose future is unfortunately in question."]
 ['parenting' 'homeschooling city style'
  "Have you ever met any babies? They're so completely self-involved. Everything is about them -- their wants and their needs"]]
[['travel' 'back off stay at home dads'
  "Ah, New York. There's really no place like it. It's one of the only cities in the world where you can pay hundreds of dollars for a hotel room smaller than your office cubicle."]
 ['weddings' 'seven surprising reasons to be flight attendant'
  'Most places you get married, you can have fireworks if you want them -- if you can afford them, and the permits and insurance that go along with them.  Or you can go the budget route and get just as many oohs and ahhs with sparklers.']
 ['parenting'
  'west nyack couple celebrates with wedding new city ny patch'
  "f your lil one is lucky enough to be receiving an iPad Mini this holiday (or just plans on sharing mom or dad's), it's essential"]
 ...
 ['parenting' 'be supercoherent tune into your consciousness '
  "If you spend as much time on Facebook as I do, you've noticed a recent influx of proud moms posting kid pictures and updates about the new school year. While so much is brand new with the kiddos, I can't help but notice some patterns emerging..."]
 ['style beauty' 'bacon and eggs recipes photos '
  'PHOTO: Nail color steps: 1. Shape, buff and prep nails with Illamasqua Base Coat. 2. On first hand, paint ring finger, middle']
 ['weddings'
  'combine passion with purpose the secret to finding true happiness'
  'Drunken proposals While being drunk can boost your confidence, passion and spontaneity (which would seem the perfect combination']]
[['food drink' ' ways to fall asleep fast'
  'Many of the best Chinese restaurants in the country still abide by the same philosophy of menu writing as those strip mall takeout joints. They write menus that are too damn long.']
 ['environment' 'intrepid japanese fisherman turns over new leaf'
  'For more adorable critters, check out this video of an old sea otter playing basketball, and this awesome infographic of']
 ['parenting'
  'the fitness myths that hold you back and how to succeed myth the flat stomach myth'
  "Sometimes, I have a day. You know. One of THOSE days. Where the hours fly past at a whirlwind pace and by the time the dust settles, I can't even believe everything that's happened and that DAMN, this parenting schtick is hard."]
 ...
 ['queer voices' 'the devotion project the love you save may be your own'
  'But some corporate-image experts disagree, saying a prolonged conversation like this could be damaging. While he would not']
 ['business'
  'cyprus limits atm withdrawals at biggest banks as panicked savers race to drain accounts'
  'BRUSSELS, March 24 (Reuters) - Euro zone finance ministers delayed by two hours a Sunday evening meeting intended to help']
 ['travel' ' handy manny hanky panky when parents overthink kids tv'
  'Warrior athletes from Mbirikani Group Ranch were the overall winners, receiving a grand prize of a stud Borana bull.']]

In [518]:
def makeDataFrame(splittedList):
  typeofCat=[]
  headlines=[]
  for value in splittedList:
    typeofCat.append(value[0])
    headlines.append(value[1])
  data = {'category':typeofCat,
        'headline':headlines}
  return pd.DataFrame(data)

In [553]:
import operator
def NaiveBayes(data,word,smoothen):
  probabilityOfWord= findProb(word,data,smoothen)
  categoryProb={}
  totalCategorydocs= len(data)
  categorylen={}
  categoriesList= getdoclen(data)
  final_answer={}
  cate= list(data['category'].unique())
  for value in cate:
    categoryProb[value]= conditionalProb(word,value,data,smoothen)
  sum=0
  for value in categoryProb:
    pofa=categoriesList[value]/totalCategorydocs
    answer=categoryProb[value] *pofa
    final_answer[value]= answer /probabilityOfWord
  final_answer=dict( sorted(final_answer.items(), key=operator.itemgetter(1),reverse=True))
  return list(final_answer.items())[0][0]

In [570]:
#train_val=cross_validation_split(train,5)
dev_val=cross_validation_split(development,5)
test_val=cross_validation_split(test_data,5)

In [571]:
def calculateAccuracy(validationList,crossValList,word,smoothen):
  count=0
  for value in validationList:
    predictions=(NaiveBayes(makeDataFrame(value),word,smoothen))
  for index in crossValList.index:
    sentence=crossValList['headline'][index].split()
    if word in sentence:
      if crossValList['category'][index] == predictions:
        count +=1
  print(predictions)
  return count/len(crossValList)

In [572]:
final=dict( sorted(final.items(), key=operator.itemgetter(1),reverse=True))

In [573]:
top10 = list(final)[:10]

In [574]:
print(top10)

['zuckerberg', 'zucchini', 'zoolander', 'zoo', 'zones', 'zone', 'zombies', 'zombie', 'zoe', 'zip']

In [575]:
print(NaiveBayes(df1,'game',1))

entertainment

In [590]:
calculateAccuracy(dev_val,development,'exercise',smoothen=0.1)*100

wellness

0.10953447846651729